body, html{

	height: 3000px;
	overflow-x: hidden;
	background-image: url("");
}
/*imagee holding image and text */

/*.imagee{
	height:100px;
	width:100px;
	position:absolute;
	border-radius: -50px;
	text-align: center;	*/

.header{
	color: black;
	padding bottom :-20px;
	text-align: center;
}
.topnav{
	position: relative;
	background-color:black;
	overflow: hidden;
}
.topnav a{
	float: right;
	color: white;
	display: table-header-group;
	padding: 12px 14px;
}
.topnav a:hover{
	background color:black;
	color:#cc9933;
}
.topnav button{
	float: left;
	padding-top: 10px;

}
.link a{
padding: 12px 14px;
color: #cc9933;
}	
.bakground{
	background-image: url("../image/fashion.jpg");
	height: 600px;
	width: 1000px;
	margin-left: 150px;
	position: center;
	background-size: cover;
}
.bakground-text{
	text-align: center;
	padding: 200px 0px;
	color: #cc9933;
	margin bottom: 200px;
}	
.one{
	float: top;	
}
.theimage
	margin-right: auto;
	margin-left: auto;

}
.two{
	float: bottom;
}
.one a button{
position: absolute;
}
/*.large{
	float: left;
}
.largee{
	float: right;
}*/


.pure{
	margin-top: -61px;
}
.pures{
	margin-top:-60px;
}
.grand{
	width: 140px;
	position: relative;
	left: 5px;
	border-style: ridge;
	color: gray;
	border color: gray;
	bottom: -60px;
}
.grands{
	width: 90px;
	position: relative;
	left: 5px;
	border-style: ridge;
	color: gray;
	border color: gray;
	bottom: -60px;
}
.grande{
	width: 140px;
	position: relative;
	left: 5px;
	border-style: ridge;
	color: gray;
	border color: gray;
	top: 312px;
}
.granded{
	width: 200px;
	position: relative;
	left: 5px;
	border-style: ridge;
	color: gray;
	border color: gray;
	bottom: -47px;
}
.carousel-inner img{
	height: 20%;
	width: 20%;
	align-items: center;
}
.wrapper{
	height:1000px;
}
.bags{
	float: left;
	display: table-header-group;
}
@media only screen and (max-width: 320px) {
	.topnav {
	padding: 9px 7px;
	}
	.link a{
		font-size: 1.5em;
	}
	.bakground-text{
		font-size: 1em;
	}
	.bakground{
		width: 810px;
		margin-left: 78px;
	}
	.bakground-text a button{
		padding: 5px;
    }
    
.pster{
	float: left;
}


